spring:
  application:
    name: event-logger

kafka:
  bootstrap-servers: localhost:19092
  topic:
    events: events_json

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

server:
  port: 8091
